<!DOCTYPE html>
<html lang="ko">
<head>
    {% load staticFiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>롯데시네마</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/assets/css/reset19.css">
    <link rel="stylesheet" href="../static/assets/css/style19.css">
    <link rel="stylesheet" href="../static/assets/css/swiper.css">
    
    <!-- 파비콘-->
    <link rel="shortcut icon" href="../static/assets/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/icons/favicon_72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="../static/assets/icons/favicon_96.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/icons/favicon_144.png" />
    <!-- <link rel="apple-touch-icon-precomposed" sizes="192x192" href="/staticassets/icons/favicon_192.png" />    -->
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet">
</head>
<body>
    
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <a href="https://www.lottecinema.co.kr/NLCHS/">
                            <em><img src="../static/assets/img/logo.jpeg" alt="Lotte cinema"></em>
                            
                           
                        </a>    
                    </h1>
                    <nav id="mNav">
                        <h2 class="ir_so">롯데시네마 전체메뉴</h2>
                        <a href="#" class="ham"><span></span></a>
                    </nav>
                    <nav class="nav">
                        <ul class="clearfix">
                            <li><a href="#">예매</a></li>
                            <li><a href="#">영화</a></li>
                            <li><a href="#">영화관</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">스토어</a></li>
                            <li><a href="#">E상영관</a></li>
                            <li><a href="#">로그인</a></li>
                        </ul>
                    </nav>    
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->
    
    
    <section id="banner">
        <div class="banner_menu">
            <h2 class="ir_so">배너 영역</h2>
            <div class="container">
                <div class="row">
                    
                    <div class="bm_right">
                        <!--
                            <ul>
                            <li class="line"><a href="custom/faq.html">고객센터</a></li>
                            <li class="line"><a href="#">멤버쉽</a></li>
                            <li><a href="#">VIP</a></li>
                        </ul>

                        -->
                        
                        <ul>
                            <li class="white"><a href="#">상영시간표</a></li>
                            <li class="purple"><a href="#">빠른예매</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider">
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide ss1">
                        <div class="container">
                            <div class="row">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ss2">
                        <div class="container">
                            <div class="row">
                                <h3></h3>
                                <p> </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide ss3">
                        <div class="container">
                            <div class="row">
                                <h3></h3>
                                <p> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    <!-- //banner -->
    
    
    <section id="movie">
        <div class="container">
            <div class="row">
                <h2 class="ir_so">영화 예매</h2>
                <div class="movie">
                    <div class="movie_title">
                        <ul class="clearfix">
                            <li class="active"><a href="#">현재상영작</a></li>
                            <li><a href="#">상영예정작</a></li>
                        </ul>
                    </div>
                    <div class="movie_chart">
                        <div class="swiper-container2">
                           <div class="chart_cont1 swiper-wrapper">
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster01.jpg" srcset="../static/assets/img/poster01@2.jpg 2x" alt="침묵">
                                       </figure>
                                       <div class="rank"><strong>1</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a19 ir_pm"></span> <strong>소리도 없이</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster02.jpg" srcset="../static/assets/img/poster02@2.jpg 2x" alt="신세계">
                                       </figure>
                                       <div class="rank"><strong>2</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a15 ir_pm">19세 이상 관람</span> <strong>담보</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster03.jpg" srcset="../static/assets/img/poster03@2.jpg 2x" alt="마스터">
                                       </figure>
                                       <div class="rank"><strong>3</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a15 ir_pm">12세 이상 관람</span> <strong>테넷</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster04.jpg" srcset="../static/assets/img/poster04@2.jpg 2x" alt="마약왕">
                                       </figure>
                                       <div class="rank"><strong>4</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a15 ir_pm">15세 이상 관람</span> <strong>돌멩이</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster05.jpg" srcset="../static/assets/img/poster05@2.jpg 2x" alt="마약왕">
                                       </figure>
                                       <div class="rank"><strong>5</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a15 ir_pm">15세 이상 관람</span> <strong>삼진그룹 영어 토익반</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster06.jpg" srcset="../static/assets/img/poster06@2.jpg 2x" alt="마약왕">
                                       </figure>
                                       <div class="rank"><strong>6</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a15 ir_pm">15세 이상 관람</span> <strong>안녕까지 30분</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster07.jpg" srcset="../static/assets/img/poster07@2.jpg 2x" alt="마약왕">
                                       </figure>
                                       <div class="rank"><strong>7</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a15 ir_pm">15세 이상 관람</span> <strong>그린랜드</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                               <div class="swiper-slide">
                                   <div class="poster">
                                       <figure>
                                           <img src="../static/assets/img/poster08.jpg" srcset="../static/assets/img/poster08@2.jpg 2x" alt="마약왕">
                                       </figure>
                                       <div class="rank"><strong>8</strong></div>
                                   </div>
                                   <div class="infor">
                                       <h3><span class="icon a12 ir_pm">15세 이상 관람</span> <strong>폰조</strong></h3>
                                       <div class="infor_btn">
                                           <a href="#">상세정보</a>
                                           <a href="#">예매하기</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                        <!-- //chart_cont1-->
                        
                        <div class="swiper-container2">
                            <div class="chart_cont2 swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="../static/assets/img/poster09.jpg" srcset="../static/assets/img/poster09@2.jpg 2x" alt="침묵">
                                        </figure>
                                        <div class="rank"><strong>1</strong></div>
                                       
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a19 ir_pm">전체관람가</span> <strong>21 브릿지:테러 셧다운</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">예매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="../static/assets/img/poster10.jpg" srcset="../static/assets/img/poster10@2.jpg 2x" alt="신세계">
                                        </figure>
                                        <div class="rank"><strong>2</strong></div>
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a19 ir_pm">19세 이상 관람</span> <strong>에브리타임 아이 다이</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">예매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="../static/assets/img/poster11.jpg" srcset="../static/assets/img/poster11@2.jpg 2x" alt="마스터">
                                        </figure>
                                        <div class="rank"><strong>3</strong></div>
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon all ir_pm">12세 이상 관람</span> <strong>미스터트롯:더 무비</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">예매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="../static/assets/img/poster12.jpg" srcset="../static/assets/img/poster12@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        <div class="rank"><strong>4</strong></div>
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a15 ir_pm">15세 이상 관람</span> <strong>종이꽃</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">예매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="../static/assets/img/poster13.jpg" srcset="../static/assets/img/poster13@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        <div class="rank"><strong>5</strong></div>
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a19 ir_pm">15세 이상 관람</span> <strong>베이비티스</strong></h3>
                                        <div class="infor_btn">
                                            <a href="#">상세정보</a>
                                            <a href="#">예매하기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="poster">
                                        <figure>
                                            <img src="../static/assets/img/poster14.jpg" srcset="../static/assets/img/poster14@2.jpg 2x" alt="마약왕">
                                        </figure>
                                        <div class="rank"><strong>6</strong></div>
                                    </div>
                                    <div class="infor">
                                        <h3><span class="icon a19 ir_pm">15세 이상 관람</span> <strong>태양의 소녀들</strong></h3>
                                        <div class="infor_btn">
                                            <a href="https://www.lottecinema.co.kr/NLCHS/Movie/MovieDetailView?movie=16446">상세정보</a>
                                            <a href="#">예매하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //chart_cont2-->
                </div>
            </div>
        </div>
    </section>  
    <!-- //movie -->
    
    
    

    <section id="new">
        <div class="container">
            <div class="row">
                <div class="new">
                    <h2><em>온라인 상영중인 영화</em></h2>
                    <div class="new_left">
                        <div class="play" id="showTrailer" data-youtube="F1239ZePXfM">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <circle class="st0" cx="60" cy="60.4" r="56"/>
                                <path class="st1" d="M81,65.4c4.8-2.8,4.8-7.2,0-10L53.5,39.6c-4.8-2.8-8.7-0.5-8.7,5v31.7c0,5.5,3.9,7.8,8.7,5L81,65.4z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="new_right">
                        <h3 class="title">로그 원: 스타워즈 스토리</h3>
                        <span class="release">2020년 10월 28일 개봉</span>
                        <div class="star">
                            
                            <strong>★★★ &nbsp; 6/10</strong>
                        </div>
                        <ul class="summary">
                            <li class="genre"><span class="bar">액션</span><span>미국, 오스트레일리아</span></li>
                            <li class="age"><span class="bar">142분</span> &nbsp; <span>12세 이상 관람가</span></li>
                            <li class="desc">단숨에 행성 하나를 파괴할 위력을 지닌 데스 스타가 완성되기 전에 설계도를 훔쳐내야 하는 이번 작전의 성공 확률은 고작 2.4%. 생사도 모르는 아버지에 얽힌 비밀을 밝히려는 진을 ...비롯해 유능한 정보 요원 ‘카시안’(디에고 루나), 두 눈이 멀었지만 탁월한 무술 실력을 지닌 ‘치루트’(견자단), 전투 베테랑 ‘베이즈’, 파일럿 ‘보디’, 시니컬한 드로이드 ‘K-2SO’까지 합류, 거대한 전쟁을 끝낼 ‘로그 원’이 이끄는 가장 비밀스런 작전이 시작되는데…</li>
                        </ul>
                        <div class="select">
                           
                            
                                
                            <div class="s3">
                                <label for="utext" class="ir_so">온라인 티켓 번호를 입력해주세요.</label>
                                <input type="text" id="utext" name="utext" class="ui_input3" placeholder="온라인 티켓 번호를 입력해주세요.">
                            </div>
                        </div>
                        <div class="btn">
                            <a href="#" class="white">입장하기</a>
                            <a href="#" class="purple">티켓 구입하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //new -->

    <footer>
        <img src="../static/assets/img/footer1.png" alt="">
        <img src="../static/assets/img/footer2.png" alt="">
        <img src="../static/assets/img/footer3.png" alt="">
    </footer>
    
    
    
    <!-- 트레일러 -->
    <aside role="complementary" id="blackout" class="overlay">
        <div id="trailerModal" class="modal">
            <div id="trailer"></div><!-- YouTube 플레이어로 대체되는 부분 -->
        </div>
        <button id="hideTrailer" class="modal_close">닫기</button>
    </aside>
    
    
    <!-- 자바스크립트 라이브러리 -->
    <script src="../static/assets/js/jquery.min_1.12.4.js"></script>
    <script src="../static/assets/js/modernizr-custom.js"></script>
    <script src="../static/assets/js/ie-checker.js"></script>
    <script src="../static/assets/js/swiper.min.js"></script>
    <script src="../static/assets/js/iframe_api.js"></script>
    <script src="../static/assets/js/movie.js"></script>
    <script>
        //배너 이미지 슬라이드
        var swiper = new Swiper('.swiper-container',{
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5000,
            },
        });
        
        //영화차트 이미지 슬라이드
        var swiper = new Swiper('.swiper-container2',{
            slidesPerView: 4,
            spaceBetween: 24,
//            mousewheel: {
//                invert: true,
//            },
            keyboard: {
                enabled: true,
                onlyInViewport: false,
            },
            autoplay: {
                delay: 6000,
            },
            breakpoints: {
                600: {
                    slidesPerView: 1.4,
                    spaceBetween: 24
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 24
                },
                960: {
                    slidesPerView: 3,
                    spaceBetween: 24
                }
            }
        });
        
        //영화차트 탭 메뉴
        var movBtn = $(".movie_title > ul > li");    
        var movCont = $(".movie_chart > div");  

        movCont.hide().eq(0).show();

        movBtn.click(function(e){
            e.preventDefault();
            var target = $(this);         
            var index = target.index();  
            movBtn.removeClass("active");   
            target.addClass("active");    
            movCont.css("display","none");
            movCont.eq(index).css("display","block");
        });
        
        //공지사항 탭 메뉴
        var tabMenu = $(".notice");

        //컨텐츠 내용을 숨겨주세요!
        tabMenu.find("ul > li > ul").hide();
        tabMenu.find("li.active > ul").show();

        function tabList(e){
            e.preventDefault();       //#의 기능을 차단
            var target = $(this);
            target.next().show().parent("li").addClass("active").siblings("li").removeClass("active").find("ul").hide();
            //버튼을 클릭하면 ~ div를 보여주고
            //부모의 li 태그에 클래스 추가하고
            //형제의 li 태그에 클래스 제거하고
            //제거한 자식의 div 태그를 숨겨줌 
        }

        tabMenu.find("ul > li > a").click(tabList).focus(tabList);
        
    </script>
</body>
</html>